
.ui_container {
    border-style: dotted;
    border-color:#444;
    border-width:3px;
    background-color:#666;
    transition: 0.2s ease-out;
}
.ui_container:hover {
    background-color:#555;
}

body {
    background-color:#222;
}

#fit_container {
    position:absolute;
    top:0%;
    left:0%;
    width:99%;
    height:99vh;
    overflow:hidden;
}
#menu_area {
    position:absolute;
    top:0%;
    height:5%;
    width:100%;
    left:0%;
}

#context_area {
    position:absolute;
    bottom:0%;
    height:5%;
    width:100%;
    left:0%;
}

#widget_area {
    position:absolute;
    top:6%;
    left:0%;
    width:15%;
    height:86.5%;
    overflow-y: auto;
    direction: rtl;
}

#inspector_area {
    position:absolute;
    top:6%;
    right:0%;
    width:15%;
    height:86.5%;
}

#render_area {
    position:absolute;
    top:6%;
    left:15.5%;
    width:69%;
    height:87.5%;
    background-color:#eee;
}

.widget {
    background-color:#000;
    position:relative;
    width:100%;
    left:0%;
    border-radius:4px;
    text-align:center;
    direction: ltr;
}

.widget_label {
    color:#fff;
    font-size:10px;
    font-family:Arial Rounded MT, Arial, sans-serif;
}

.widget_title {
    text-align:center;
}

.widget_color {
    background-color:#bbb;
    border-radius:5px;
    border:none;
    height:15px;
    width:25px;
    padding:0px;
}