run.bat (you can edit to see for yourself)
uses 'nw' command is if it were a global command

To get this effect on your machine, install nwjs (unzip)
to some directory.
I put mine here:
C:/Program Files/nwjs

The nw.exe program will now be here:
C:/Program Files/nwjs/nw.exe

Then editing environment variables to add that nwjs directory
to PATH variable will enable the command to be used globally!

Search "Environment var" and click 'Edit environment variables'
A window pops up, click button 'Edit Environment Variables'
Double click PATH in the top listbox
Another popup window appears, type ;C:/Program Files/nwjs
the semicolon separates that path from the previous.
If there isn't any thing in that variable before hand, ommit the semicolon
because we don't need to separate ours from *nothing* :P

After that, you can click run.bat in this readme's dir